html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body 
{
  margin-bottom: 60px;
}

.card-datatable
{
  padding-bottom: 1rem;
}



.data-length
{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.data-filter
{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper , div.dataTables_wrapper div.data-filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate 
  {
      text-align: center;
      display: inline-block;
  }
  div.data-length
  {
    text-align: center;
    margin-right: 20px;
  }
  .pagination-container
  {
    flex-wrap: wrap;
    flex-direction:column-reverse;
  }

  .pagination-container .page-total{
    display: inline-block;
    width: auto;
    margin: 5px auto;
  }
}

/* .form-select 
{
  max-width: 100px !important;
  width: 100px!important;
} */

.pagination-container
{
  display: flex;
  justify-content:space-between;
  font-weight: 500;
  margin: 10px 0;
}

.pagination-container .page-total
{
  line-height: 30px;
  padding:0 10px;
  color:#a7acb2;
  font-size: large;
}

.pagination-container .page-list
{
  display: flex;
  align-items: center;
}

.pagination-container .page-item
{
  margin-left: 4px;
  line-height: 28px;
  min-height: 30px;
  text-align: center;
  color: #384551;
  display: inline-block;
  padding: 0 10px;
  background-color:#ced1d5;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination-container .page-item:hover
{
background-color: rgba(105,108,255,.16);
color: #696cff;
}

.modal-font
{
  font-size: 20px;
  color: #696cff;
}

.activate
{
  background-color: #696cff!important;
  pointer-events: none;
  color: white!important;
}


.icon-style-delete
{
  color:#ff3e1d !important;
  margin-right: 5px;
}

.icon-style-update
{ 
  color: #71dd37 !important; 
  margin-right: 5px;
}


.icon-style-reset
{
  color:#ffab00 !important;
}


.drop-zone {
  width: 100%;
  min-height: 200px;
  border: 2px dashed #999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
  flex-direction: column;
  transition: border-color 0.3s,opacity 0.3s;
  padding:10px;
}

.drop-zone.dragging {
  opacity: 0.3; 
  border-color: #555;
}

.drop-zone-message 
{
  font-size: 16px;
  color: #666;
}

.upload-button {
  background-color: #696cff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.upload-button:hover {
  border-color:rgba(0,0,0,0);
  background-color: #5f61e6;
}

.image-preview-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  margin-top: 10px;
  gap:20px;
}



.card-1 {
  width: 180px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
}

.card-body-1 {
  padding: 10px;
  text-align: center;
}

.card-title-1 {
  font-size: 14px;
  margin-bottom: 10px;
}

.remove-btn {
  display: block;
  margin: 0 auto;
  font-size: 12px;
}


.data-repeater-item 
{
  max-height: 200px; 
  overflow: hidden; 
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* Transition effects */
}
.data-repeater-item.show {
  max-height: 200px;
  opacity: 1; 
}

.data-repeater-item.hide
{
  opacity: 0;
  max-height: 0px;
}